@{
    ViewBag.Title = "DirectorInformationdddddd";
    ViewBag.Header = "Student Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

    <div class="col-12">

        <div class="row">
            <h4>পরিচালকের প্রোফাইল</h4>
            <div class=" col-12 Personal_Info">
                <div class="row">

                    <label>

                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <h1>পরিচালকের প্রোফাইল</h1>
        </div>
        <div class="row">
            <h1>পরিচালকের প্রোফাইল</h1>
        </div>
    </div>
</div>