@{
    ViewBag.Title = "DressEntry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .reqError {
        color: #ff0000; /*Red Color*/
        font-weight: bold;
    }
</style>
@* ***************Header *@
<div class="container-fluid">
    <div class="panel panel-danger">
        <h4 class="panel-heading" style="text-align: center; text-decoration: underline;background-color:#ffffff">নুতন পোশাকের তালিকা</h4>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="btn-group">
                <button title="Add Item" style="margin: 2px; text-transform: capitalize;" id="btnadd" class="btn btn-success " data-toggle="modal" data-target="#BranchConfig" onclick="clearFromData();"> <i class="fa fa-plus-circle"></i>&nbsp;নতুন পোষাক যুক্ত করুন</button>
                @*<button title="Refresh" style="margin: 2px; text-transform: capitalize;" class="btn btn-success" id="btnrefresh" onclick="refreshformdata();"> <i class="fa fa-refresh"></i>&nbsp;Refresh</button>*@
            </div>

        </div>
    </div><br />
</div>
@* ***************End Header *@
<div class="table-responsive">
    <table id="datatable4" class="table-bordered display" style="width:100%"></table>
</div>

<div class="modal fade bd-example-modal-sm" id="BranchConfig" tabindex="2" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="left: 0%" role="document">
        <div class="modal-content">

            <div class="modal-header my_modal-header" style="background:  #194771; color: white;">
                <h5 style="text-align: center; text-decoration: underline;">পোষাক যুক্ত করুন</h5>


                <button type="button" id="btnCancel"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>

            </div>
            <div class="modal-body">

                @*@Html.Partial("SalesOrderNew", Model.Count == 0 ? new Jagoron.Web.Models.SalesOrder() : Model.FirstOrDefault())*@
                <div class="row">

                    <input type="hidden" class="form-control" name="brandName" id="txtOldbranchID" form="usrform">
                    <div class="col-sm-12">

                        <div style="margin-left: 10px;">
                            <label>পোষাকের নাম:</label><span id="reqAddress1" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtDressName" form="usrform" style="text-transform:capitalize">
                        </div>

                        <div class="col-sm-12">
                            <div style="margin-left: 10px;">
                                <label>কার পোষাক:</label><span id="reqDefaultBranch" class="reqError"></span><br />
                            </div>
                            <select id="cbodeDressFor" class="form-control">
                                <option value="0">পুরুষ</option>
                                <option value="1">মহিলা</option>
                                <option value="2">বাচ্চা</option>
                            </select>

                        </div>
                        <div style="margin-left: 10px;">
                            <label>সিরিয়াল:</label><span id="reqSerial" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtSerial" form="usrform" style="text-transform:capitalize">
                        </div>

                        <div class="container form-group">
                            <label class="control-label col-md-8">পোষাকের ছবি:</label>
                            <div class="col-md-12" style="height:150px;">
                                <img width="120" height="120" id="productImage" />
                                <input type="file" class="form-control" id="btnBrowsePic" onchange="showimagepreview(this);">
                            </div>
                        </div>

                    </div>


                </div>

                <div class="modal-footer border-0">
                    <span><input type="button" class="btn btn-primary" id="btnsaveOrder" onclick="saveOrUpdates();" value="Save"></></span>
                    <span><input type="button" class="btn btn-danger" id="btncen" data-dismiss="modal" value="Cancel" onclick="clearFromData();"></></span>
                </div>
            </div>

        </div>
    </div>
</div>
@* ***************Dress Mesurment *@
<div class="modal fade bd-example-modal-lg" id="Dressmesurment" tabindex="2" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="left: 0%" role="document">
        <div class="modal-content">
            <div class="modal-header my_modal-header" style="background:  #194771; color: white;">
                <h5 style="text-align: center; text-decoration: underline;">পোষাক যুক্ত করুন</h5>
                <button type="button" id="btnCancel"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" class="form-control" name="brandName" id="txtOldbranchID" form="usrform">
                    <div class="col-sm-12">
                        <div style="margin-left: 10px;">
                            <label>পোষাকের নাম:</label><span id="reqAddress1" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtDressNameM" readonly form="usrform" style="text-transform:capitalize">
                        </div>
                        <div style="margin-left: 10px;">
                            <label>মাপের ধরণ:</label><span id="reqSerial" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtMesurmentType" form="usrform" style="text-transform:capitalize">
                        </div>
                        <div style="margin-left: 10px;">
                            <label>মাপের ধরণের নাম:</label><span id="reqSerial" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtMesurmentTypeSub" form="usrform" style="text-transform:capitalize">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="col text-center">
                        <button id="btnAddM" onclick=" duplicationCheck(); addMesuerment()" value="Add" class="btn btn-default btn btn-primary"> <i class="fa fa-plus"></i>&nbsp; Add</button>
                    </div>
                </div>
                <br>
                <div class="table-responsive">
                    <table id="datatableMesurmrent" class="table-bordered display" style="width:100%"></table>
                </div>
                <div class="modal-footer border-0">
                    <span><input type="button" class="btn btn-primary" id="btnsaveOrderM" onclick="saveOrUpdatesM();" value="Save"></></span>
                    <span><input type="button" class="btn btn-danger" id="btncen" data-dismiss="modal" value="Cancel" onclick="clearFromData();"></></span>
                </div>
            </div>

        </div>
    </div>
</div>

@* ***************Dress Style Set *@
<div class="modal fade bd-example-modal-lg" id="StylSet" tabindex="2" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="left: 0%" role="document">
        <div class="modal-content">
            <div class="modal-header my_modal-header" style="background:  #194771; color: white;">
                <h5 style="text-align: center; text-decoration: underline;">ডিজাইন যুক্ত করুন</h5>
                <button type="button" id="btnCancel"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="hidden" class="form-control" name="brandName" id="txtOldkeyID" form="usrform">
                    <div class="col-sm-12">

                        <div style="margin-left: 10px;">
                            <label>পোষাকের নাম:</label><span id="reqAddress1" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtDressNameS" readonly form="usrform" style="text-transform:capitalize">
                        </div>

                        <div style="margin-left: 10px;">
                            <label>মাপের ধরণের নাম:</label><span id="reqSerial" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtDressStyle" form="usrform" style="text-transform:capitalize">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="col text-center">
                        @*<button id="btnSaveStyle" onclick=" duplicationCheck(); saveOrUpdatesStyle()" value="সেভ করুন" class="btn btn-default btn btn-primary"> <i class="fa fa-plus"></i>সেভ করুন</button>*@
                        <span><input type="button" class="btn btn-primary" id="btnSaveStyle" onclick="saveOrUpdatesStyle();" value="সেভ করুন"></></span>
                    </div>
                </div>
                <br>
                <div class="table-responsive">
                    <table id="datatableStyle" class="table-bordered display" style="width:100%"></table>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="styleadd" tabindex="2" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="left: 0%" role="document">
        <div class="modal-content">
            <div class="modal-header my_modal-header" style="background:  #194771; color: white;">
                <h5 id="idstyleDHead" style="text-align: center;  text-decoration: underline;">'কলার' ডিজাইন যুক্ত করুন</h5>
            
                <h5 id="idstyleDHead2"  style="text-align: center;  text-decoration: underline;"></h5>
                <button type="button" id="btnCancel"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
          
                <div class="row">
                    <input type="hidden" class="form-control" name="brandName" id="txtOldkeyID" form="usrform">
                    <div class="col-sm-12">

                        <div style="margin-left: 10px;">
                            <label>ডিজাইন বা স্টাইলের নাম:</label><span id="reqAddress1" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtStyleDetailsName"  form="usrform" style="text-transform:capitalize">
                        </div>

                        <div style="margin-left: 10px;">
                            <label>ডিজাইন সিরিয়াল:</label><span id="reqSerial" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtDressStyle" form="usrform" style="text-transform:capitalize">
                        </div>
                    </div>


                    <div class="container form-group">
                        <label class="control-label col-md-8">ডিজাইন বা স্টাইলের ছবি:</label>
                        <div class="col-md-12" style="height:150px;">
                            <img width="120" height="120" id="ImageStyleDetails" />
                            <input type="file" class="form-control" id="btnBrowsePic" onchange="showimagepreviewStyle(this);">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="col text-center">
                        @*<button id="btnSaveStyle" onclick=" duplicationCheck(); saveOrUpdatesStyle()" value="সেভ করুন" class="btn btn-default btn btn-primary"> <i class="fa fa-plus"></i>সেভ করুন</button>*@
                        <span><input type="button" class="btn btn-primary" id="btnSaveStyleDetails" onclick="StyleDetailssaveOrUpdates();" value="সেভ করুন"></></span>
                    </div>
                </div>
                <br>
                <div class="table-responsive">
                    <table id="datatableStyleDetails" class="table-bordered display" style="width:100%"></table>
                </div>

            </div>

        </div>
    </div>
</div>

@*-------------------------end-------------------------------------------------------------*@

@section scripts{
    <script>
        function showimagepreviewStyle(input) {
            if (input.files && input.files[0]) {
                var a = (input.files[0].size);
                if (a > 200000) {
                    alert('Photo too large. Maximum allowed size is 200 KB');
                }
                else {
                    //$('#WarningMsg').val('');
                    var filerdr = new FileReader();
                    filerdr.onload = function (e) {
                        $('#ImageStyleDetails').attr('src', e.target.result);
                    }
                    filerdr.readAsDataURL(input.files[0]);
                }
            }
        };
        function showimagepreview(input) {
            if (input.files && input.files[0]) {
                var a = (input.files[0].size);
                if (a > 200000) {
                    alert('Photo too large. Maximum allowed size is 200 KB');
                }
                else {
                    //$('#WarningMsg').val('');
                    var filerdr = new FileReader();
                    filerdr.onload = function (e) {
                        $('#productImage').attr('src', e.target.result);
                    }
                    filerdr.readAsDataURL(input.files[0]);
                }
            }
        };
        var selectdataId = 0;
        var mstrPrimaryFields = 0;
        var BranchID = "";
        var BranchName = "";
        var tempDataList = [];
        var DressMesurmentList = [];
        var DressStyleList = [];
        var DressStyleDetails = [];
        $(document).ready(function () {
            $('#btnsaveOrder').val('Save');
            $('#btnSaveStyle').val('সেভ করুন');
            document.getElementById('ImageStyleDetails').src = "/Images/defaultProduct.jpg";
            showGrid();
            showMesurmentGrid();
            //showStyleDetails();
            //$("#BranchConfig").on('shown.bs.modal', function () {
            //    $(this).find('#txtbranchName').focus();
            //});
        })
        function ValidationClear() {
            //var name = $('#txtbranchName').val();
            //if (name.trim() != "") {
            //    document.getElementById("reqBranchName").innerHTML = "";

            //}

        }
        function ChangeLocation() {
            //var x = $('#txtbranchName').val() + ' Depot';
            //$('#txtlocation').val(x)

        }
        $("#btnsaveItem").click(function () {
            $('#txtcostcategory').val("");
        });
        $("#btnCancel").click(function () {
            $("#Costcategory").modal("hide");
            $('#btnsaveOrder').val('Save');
        });
        $("#btncen").click(function () {
            $("#Costcategory").modal("hide");
            $('#btnsaveOrder').val('Save');
        });
        function saveOrUpdates() {
            //if (checkReqFields() == false) {
            //    return;
            //}
            var btn = $('#btnsaveOrder').val();
            if (btn == "Save") {
                swal({
                    title: "Do You Want to Save?",
                    text: "",
                    icon: "warning",
                    buttons: [
                        'Yes',
                        'No'
                    ],
                    dangerMode: true,
                }).then(function (isConfirm) {
                    if (isConfirm) {
                    }
                    else {
                        save();
                        clearFromData();
                        //$('#txtbranchName').focus();
                    }

                });


            } else {


                swal({
                    title: "Do You Want to Update?",
                    text: "",
                    icon: "warning",
                    buttons: [
                        'Yes',
                        'No'
                    ],
                    dangerMode: true,
                }).then(function (isConfirm) {
                    if (isConfirm) {

                    }
                    else {

                        Update(mstrPrimaryFields);
                        clearFromData();
                        $('#btncen').click();

                    }

                });
            }

        }
        function checkVariable(variable) {

            if (variable == null) {
                return "1";
            }
            else {
                return "2";
            }
        }
        function toTitleCase(str) {
            return str.replace(
              /\w\S*/g,
              function (txt) {
                  return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
              }
            );
        }
        function save() {
            var fd = new FormData();
            var files = $('input[type="file"]')[0].files;
            for (var i = 0; i < files.length; i++) {
                fd.append("Picture", files[i]);
            }
            fd.append("strDressName", $('#txtDressName').val());
            fd.append("intDressFor", $('#cbodeDressFor option:selected').val());
            fd.append("intPOSITION", $('#txtSerial').val());

            //fd.append("strPorichalokName", $('#txtporichalokname').val());
            //fd.append("strPorichalokFathersName", $('#txtporichalokfather').val());
            //fd.append("strPorichalokGendar", $('#txtporichalokGendar').val());
            //fd.append("strPosition", $('#txtporichalokposition').val());
            //fd.append("strPorichalokCity", $('#txtporichalokCity').val());
            //fd.append("strPorichalokPostalCode", $('#txtpostcode').val());
            //fd.append("strPorichalokMobile", $('#txtmobile').val());
            //fd.append("strPorichalokEmail", $('#txtemail').val());
            //fd.append("strPorichalokAddress", $('#txtaddress').val());
            //fd.append("strPorichalokFacebook", $('#txtFacebook').val());
            //fd.append("strPorichalokDateOfBorth", $('#fromDateMD').val());
            //console.log(fd);

            $.ajax({
                url: "/DressEntry/DressSave",
                processData: false,
                contentType: false,
                type: "POST",
                datatype: "json",
                data: fd,
                success: function (result) {

                    if (result == "save") {
                        //console.log('save')

                        var toastMixin = Swal.mixin({
                            toast: true,
                            icon: 'success',
                            title: 'General Title',
                            animation: false,
                            //position: 'top-right',
                            position: 'center',
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                        });
                        toastMixin.fire({
                            animation: true,
                            title: 'Save Successfully',
                        });
                        showGrid();
                        clearFromData();


                    } else {
                        swal("Warning!", result);
                        //clearFromData();
                    };
                }
            });

        }
        function Update(id) {
            //alert($('#cboInactive').val())
            var empObj = {
                BranchID: toTitleCase($('#txtOldbranchID').val()),
                //BranchName: toTitleCase($('#txtbranchName').val()),
                //BranchAddress1: toTitleCase($("#txtAddress1").val()),
                //BranchAddress2: toTitleCase($('#txtAddress2').val()),
                Country: toTitleCase($("#txtCountry").val()),
                Phone: toTitleCase($('#txtTelephone').val()),
                Fax: toTitleCase($("#txtFax").val()),
                Comments: toTitleCase($('#txtlocation').val()),
                Status: $('#cboInactive').val(),
                Godown: toTitleCase($('#txtlocation').val()),
                Status: $('#cboInactive').val(),
                DefaultBranch: toTitleCase($('#cbodefaultBrach').val()),
                Comments: toTitleCase($('#txtComments').val())

                //Status: $('#cboInactive option:selected').text(),
                //DefaultBranch: $('#cbodefaultBrach option:selected').text(),
                //DefaultBranch: "NO",

            };

            $.ajax({
                url: "/BranchConfig/mUpdateBranchInfo",
                type: "POST",
                data: JSON.stringify(empObj),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {

                    if (result == "Update") {
                        //console.log('Update')

                        var toastMixin = Swal.mixin({
                            toast: true,
                            icon: 'success',
                            title: 'General Title',
                            animation: false,
                            position: 'center',
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                        });
                        toastMixin.fire({
                            animation: true,
                            title: 'Update Successfully',

                        });

                        showGrid();
                        clearFromData();


                    } else {
                        swal("Warning!", result, '');
                        clearFromData();
                    };
                }
            });

        }
        function showGrid() {


            table = $('#datatable4').DataTable({
                "bDestroy": true,
                "select": true,
                //"gridlines": true,
                "ajax": {
                    "url": "/DressEntry/mFillShowGrid",
                    "type": "POST",
                    "datatype": "json",

                    "dataSrc": function (response) {

                        detailsList = response;
                        response.draw = response.draw;
                        response.recordsTotal = response.recordsTotal;
                        response.recordsFiltered = response.recordsFiltered;
                        console.log('request.responseText', response);

                        return response;
                    }

                },

                //"order": [[1, 'Asc']],
                "columns": [


                      {
                          title: 'SL',
                          render: function (
                              data,
                              type,
                              row,
                              meta
                          ) {
                              return '<span>' + (meta.row + 1) + '</span>';
                          },
                      },
                      //{
                      //    title: 'স্ট্যাটাস',
                      //    "data": "inStatus", "autowidth": true,
                      //    "render": function (inStatus) {
                      //        if (inStatus == 1) {
                      //            return "না";
                      //        }
                      //        else {
                      //            return "হা";
                      //        }

                      //    }
                      //},
                       {
                           title: 'ID',
                           data: 'intDressid',
                           name: 'strDressName',

                       },
                        {
                            title: 'পোষাকের নাম',
                            data: 'strDressName',
                            name: 'strDressName',

                        },

                              {
                                  title: 'ছবি',
                                  'data': 'strImage',
                                  'sortable': false,
                                  'searchable': false,
                                  'render': function (data) {
                                      if (!data) {
                                          return 'N/A';
                                      } else {
                                          var img = 'data:image/png;base64,' + data;
                                          return '<img src="' + img + '" height="50px" width="50px" />';
                                      }
                                  }
                              },



                           {
                               title: 'মাপ যুক্ত করুন',

                               render: function (data, type, row) {
                                   return '<button class="btn btn-info fontsize  masurment-sloat-ak"  data-toggle="modal" data-target="#Dressmesurment">   <i class="fa fa-child"></i></button>';
                               }
                           },
                                {
                                    title: 'স্টাইল যুক্ত করুন',

                                    render: function (data, type, row) {
                                        return '<button class="btn btn-info fontsize  style-sloat-ak"  data-toggle="modal" data-target="#StylSet">   <i class="fa fa-eye"></i></button>';
                                    }
                                },

                                 {
                                     title: 'ইডিট করুন',

                                     render: function (data, type, row) {
                                         return '<button class="btn btn-info fontsize  sales-sloat-ak"  data-toggle="modal" data-target="#BranchConfig">   <i class="fa fa-pencil"></i></button>';
                                     }
                                 },
                                  {
                                      title: 'ডিলিট করুন',
                                      render: function (data, type, row) {
                                          return '<button class="btn btn-danger fontsize delete-sloat-ak">   <i class="fa fa-trash"></i></button>';
                                      }
                                  },


                ],

                "responsive": true,
                "rowCallback": function (row, data) {
                    var rowdata = data;

                    $(row).find(".masurment-sloat-ak").click(function () {
                        selectdata = data;
                        console.log('hello edit dddeeeee', selectdata);
                        //saveorupdatebtntype =1;
                        MesurmentAddUpdate(selectdata);

                    });

                    $(row).find(".style-sloat-ak").click(function () {
                        selectdata = data;
                        //console.log('hello edit dddeeeee', selectdata);
                        //saveorupdatebtntype =1;
                        edit(selectdata);

                    });
                    $(row).find(".delete-sloat-ak").click(function () {
                        selectdata = data;
                        deleteBranch(selectdata);

                    });
                    $(row).find(".print-sloat-ak").click(function () {
                        selectdata = data;
                        orderprint(selectdata.strVoucherNoMerz, selectdata.strMerzeName)

                    });

                }

            });

        }
        function edit(data) {
            showStyleGrid(data);
            //$('#txtOldbranchID').val(data.BranchID);
            //$('#txtbranchName').val(data.BranchName);
            $("#txtDressNameS").val(data.strDressName);
            $('#txtDressStyle').val(data.strStyleName);
            //$("#txtCountry").val(data.Country);
            //$('#txtTelephone').val(data.Phone);
            //$('#txtlocation').val(data.Godown);
            //$("#txtFax").val(data.Fax);
            //$('#cboInactive').val(data.Status);
            //$('#cbodefaultBrach').val(data.DefaultBranch);
            ////$('#txtlocation').val(data.Comments);
            //$("#cbodefaultBrach").val(data.);

            //if (data.Status == "NO") {
            //    $("#cboInactive").val("0");
            //}
            //else {
            //    $("#cboInactive").val("1");
            //}

            //$('#txtComments').val(data.Comments);



        }
        function deleteBranch(selectdata) {

            var empObj = {
                BranchID: (selectdata.BranchID),
                //BranchName: (selectdata.BranchName),
            };
            //console.log('hello ', empObj);
            swal({
                title: "Do You Want to Delete?",
                text: "",
                icon: "warning",
                buttons: [
                    'Yes',
                    'No'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {

                if (isConfirm) {
                }
                else {
                    $.ajax({
                        url: "/BranchConfig/DeleteBranchInfo",
                        type: "POST",
                        data: JSON.stringify(empObj),
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {

                            if (result == "OK") {
                                showGrid();
                                swal("Delete!", "Delete success.", "success");
                            }
                            else {
                                swal("Warning!", result);
                            };


                        }
                    });
                }

            });



        }
        function checkReqFields() {
            var returnValue;

            var name = "";
            //name = document.getElementById("txtbranchName").value;
            returnValue = true;
            if (name.trim() == "") {
                document.getElementById("reqBranchName").innerHTML = " * Name is required.";
                returnValue = false;
            }
            return returnValue;
        }
        function refreshformdata() {
            showGrid();
        }
        function clearFromData() {

            $('#btnsaveOrder').val('Save');
            $('#txtDressName').val('');
            $('#btnBrowsePic').val('')
            document.getElementById('productImage').src = "/Images/defaultProduct.jpg";
            document.getElementById('productImageStyle').src = "/Images/defaultProduct.jpg";
            $('#txtSerial').val('');
            $("#cbodeDressFor").prop("selectedIndex", '0').val();
        }

        function MesurmentAddUpdate(selectdata) {

            var empObj = {
                strDressName: (selectdata.strDressName),
                intDressid: (selectdata.intDressid),
            };

            $.ajax({
                "url": "/DressEntry/DressMesurmentList",
                type: "POST",
                contentType: "application/json;charset=utf-8",
                data: JSON.stringify(empObj),
                success: function (data) {

                    tempDataList = data;
                    showMesurmentGrid();

                },
                error: function (ex) {
                    console.log('lkolko', "55555")
                }

            });

            if (tempDataList.length > 0) {
                $('#btnsaveOrderM').val('Save');
            }
            //else {
            //    $('#btnsaveOrderM').val('Update');
            //}
            $('#txtDressNameM').val(selectdata.strDressName);
        }
        function addMesuerment() {

            var editTextDr = $('#Debitid').val();
            var editTextCr = $('#CreditID').val();
            var editdateID = $('#dateID').val();

            if (editdateID == "") {
                swal({
                    text: "Date Field Empty!",
                });
                $("#dateID").focus();

            }
            else if (editTextDr == "") {
                swal({
                    text: "Debit Field Empty!",
                });
                $("#Debitid").focus();
            }
            else if (editTextCr == "") {
                swal({
                    text: "Credit Field Empty!",
                });

                $("#CreditID").focus();
            } else {

                tempDataList.push({
                    intDressid: $('#txtDressNameM').val(),
                    strDressName: $('#txtDressNameM').val(),
                    strDressHead: $('#txtMesurmentType').val(),
                    strMesurmentNameSubtype: $('#txtMesurmentTypeSub').val(),
                });
                showMesurmentGrid();
                $("#txtMesurmentType").val('');
                $("#txtMesurmentTypeSub").val('');
            }




        }
        function showMesurmentGrid() {
            console.log("Add List data", tempDataList);
            this.detailsList = this.tempDataList;
            $('#datatableMesurmrent').DataTable({
                data: this.tempDataList,
                "bDestroy": true,
                "dataSrc": function (response) {
                    response.draw = response.draw;
                    this.rowCount = response.recordsTotal;
                    $('#counttotal').val(this.rowCount);
                    response.recordsTotal = response.recordsTotal;
                    response.recordsFiltered = response.recordsFiltered;
                    console.log('request.responseText', response);
                    return response;
                },
                "bDestroy": true,
                "select": true,
                //"gridlines": true,
                //"scrollY": "1800px",
                //"scrollCollapse": true,
                //"scrollX": false,
                //pageLength: 5,
                "select": true,
                "searching": false,
                "paging": false,
                "bInfo": false,
                "bPaginate": false,


                "columns": [


                      {
                          title: 'SL',
                          render: function (
                              data,
                              type,
                              row,
                              meta
                          ) {
                              return '<span>' + (meta.row + 1) + '</span>';
                          },

                      },
                      //{
                      //    title: 'স্ট্যাটাস',
                      //    "data": "inStatus", "autowidth": true,
                      //    "render": function (inStatus) {
                      //        if (inStatus == 1) {
                      //            return "না";
                      //        }
                      //        else {
                      //            return "হা";
                      //        }

                      //    }
                      //},
                           {
                               title: 'ID',
                               data: 'intDressid',
                               name: 'intDressid',

                           },
                        {
                            title: 'পোষাকের নাম',
                            data: 'strDressName',
                            name: 'strDressName',

                        },



                         {
                             title: 'মাপের নাম',
                             data: 'strDressHead',
                             name: 'strDressHead',
                         },
                          {
                              title: 'মাপের ধরণের নাম',
                              data: 'strMesurmentNameSubtype',
                              name: 'strMesurmentNameSubtype',
                          },
                        {
                            title: 'ইডিট করুন',

                            render: function (data, type, row) {
                                return '<button class="btn btn-info fontsize  sales-sloat-ak"  data-toggle="modal" data-target="#BranchConfig">   <i class="fa fa-pencil"></i></button>';
                            }
                        },
                        {
                            title: 'ডিলিট করুন',
                            render: function (data, type, row) {
                                return '<button class="btn btn-danger fontsize delete-sloat-ak">   <i class="fa fa-trash"></i></button>';
                            }
                        },



                ],

                "responsive": true,

                "rowCallback": function (row, data) {


                    console.log('hello delete dataddddddddd', row, data);
                    var rowdata = data;


                    $(row).find(".sales-sloat-ak").click(function () {
                        selectdata = data;
                        console.log('hello edit dddeeeee', selectdata);
                        //saveorupdatebtntype =1;
                        edit(selectdata.lngSlNo);

                    });
                    $(row).find(".delete-sloat-ak").click(function () {
                        selectdata = data;
                        console.log('hello Delete data', selectdata);
                        deleteledger(selectdata.strMesurmentNametype);

                    });
                    $(row).find(".print-sloat-ak").click(function () {
                        selectdata = data;
                        orderprint(selectdata.strVoucherNoMerz, selectdata.strMerzeName)

                    });

                }

            });

        }
        function duplicationCheck() {
            var strString = $('#txtMesurmentType').val();
            console.log('str', strString)
            for (i = 0; i < tempDataList.length; i++) {
                alert(strString.toUpperCase());
                if (tempDataList[i].strDressHead.toUpperCase() == strString.toUpperCase()) {

                    swal({
                        text: "This item Exsit!(item name '" + strString + "')",
                    });
                    tempDataList.splice(i, 1);
                }

            }
            console.log('kaka', tempDataList)
            showMesurmentGrid();

        }
        function deleteledger(itemName) {


            for (i = 0; i < tempDataList.length; i++) {
                alert(itemName.toUpperCase());
                if (tempDataList[i].strMesurmentNametype == itemName) {

                    tempDataList.splice(i, 1);
                }

            }
            console.log('kaka', tempDataList)
            showMesurmentGrid();

        }
        function saveOrUpdatesM() {
            //if (checkReqFields() == false) {
            //    return;
            //}
            var btn = $('#btnsaveOrderM').val();
            if (btn == "Save") {
                swal({
                    title: "Do You Want to Save?",
                    text: "",
                    icon: "warning",
                    buttons: [
                        'Yes',
                        'No'
                    ],
                    dangerMode: true,
                }).then(function (isConfirm) {
                    if (isConfirm) {
                    }
                    else {
                        saveMesurment();
                        clearFromData();
                        //$('#txtbranchName').focus();
                    }

                });


            } else {


                swal({
                    title: "Do You Want to Update?",
                    text: "",
                    icon: "warning",
                    buttons: [
                        'Yes',
                        'No'
                    ],
                    dangerMode: true,
                }).then(function (isConfirm) {
                    if (isConfirm) {

                    }
                    else {

                        UpdateMesurment(mstrPrimaryFields);
                        clearFromData();
                        $('#btncen').click();

                    }

                });
            }

        }
        function saveMesurment() {

            var empObj = {
                DressSubList: this.tempDataList,
            };

            $.ajax({
                url: "/DressEntry/DressMesurmentInsert",
                type: "POST",
                data: JSON.stringify(empObj),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {

                    if (result == "save") {
                        //console.log('save')

                        var toastMixin = Swal.mixin({
                            toast: true,
                            icon: 'success',
                            title: 'General Title',
                            animation: false,
                            //position: 'top-right',
                            position: 'center',
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                        });
                        toastMixin.fire({
                            animation: true,
                            title: 'Save Successfully',
                        });
                        showGrid();
                        clearFromData();


                    } else {
                        swal("Warning!", result);
                        //clearFromData();
                    };
                }
            });

        }
        function UpdateMesurment(id) {
            var empObj = {
                DressSubList: this.tempDataList,
            };

            $.ajax({
                url: "/DressEntry/DressMesurmentUpdate",
                type: "POST",
                data: JSON.stringify(empObj),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {

                    if (result == "save") {
                        //console.log('save')

                        var toastMixin = Swal.mixin({
                            toast: true,
                            icon: 'success',
                            title: 'General Title',
                            animation: false,
                            //position: 'top-right',
                            position: 'center',
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                        });
                        toastMixin.fire({
                            animation: true,
                            title: 'Save Successfully',
                        });
                        showGrid();
                        clearFromData();


                    } else {
                        swal("Warning!", result);
                        //clearFromData();
                    };
                }
            });

        }
        // Dress Style
        function saveOrUpdatesStyle() {
            //if (checkReqFields() == false) {
            //    return;
            //}
            var btn = $('#btnSaveStyle').val();
            if (btn == "সেভ করুন") {
                swal({
                    title: "Do You Want to Save?",
                    text: "",
                    icon: "warning",
                    buttons: [
                        'Yes',
                        'No'
                    ],
                    dangerMode: true,
                }).then(function (isConfirm) {
                    if (isConfirm) {
                    }
                    else {
                        saveStyle();
                        clearStyleData();
                        //$('#txtbranchName').focus();
                    }

                });


            } else {


                swal({
                    title: "Do You Want to Update?",
                    text: "",
                    icon: "warning",
                    buttons: [
                        'Yes',
                        'No'
                    ],
                    dangerMode: true,
                }).then(function (isConfirm) {
                    if (isConfirm) {

                    }
                    else {

                        UpdateStyle();
                        showStyleGrid();
                        $('#btnSaveStyle').text('সেভ করুন');
                        //clearFromData();
                        $('#btncen').click();

                    }

                });
            }

        }
        function saveStyle() {
            var empObj = {
                strDressName: $('#txtDressNameS').val(),
                strStyleName: $('#txtDressStyle').val(),
            };
            $.ajax({
                url: "/DressEntry/DressStyleInsert",
                type: "POST",
                data: JSON.stringify(empObj),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {

                    if (result == "save") {
                        //console.log('save')

                        var toastMixin = Swal.mixin({
                            toast: true,
                            icon: 'success',
                            title: 'General Title',
                            animation: false,
                            //position: 'top-right',
                            position: 'center',
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                        });
                        toastMixin.fire({
                            animation: true,
                            title: 'Save Successfully',
                        });
                  
                        clearFromData();


                    } else {
                        swal("Warning!", result);
                        //clearFromData();
                    };
                }
            });

        }
        function UpdateStyle() {
 
            var empObj = {
                strStyleKey: $('#txtOldkeyID').val(),
                strDressName: $('#txtDressNameS').val(),
                strStyleName: $('#txtDressStyle').val(),
            };
            $.ajax({
                url: "/DressEntry/DressStyleUpdate",
                type: "POST",
                data: JSON.stringify(empObj),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {

                    if (result == "Update") {
                        //console.log('save')

                        var toastMixin = Swal.mixin({
                            toast: true,
                            icon: 'success',
                            title: 'General Title',
                            animation: false,
                            //position: 'top-right',
                            position: 'center',
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                        });
                        toastMixin.fire({
                            animation: true,
                            title: 'Save Successfully',
                        });
                        showStyleGrid();
                        clearFromData();


                    } else {
                        swal("Warning!", result);
                        //clearFromData();
                    };
                }
            });

        }
        function DeleteStyle(selectdata) {

            var empObj = {
                strStyleKey: selectdata.strStyleKey,
            };
            $.ajax({
                url: "/DressEntry/DeleteDressStyle",
                type: "POST",
                data: JSON.stringify(empObj),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {

                    if (result == "Delete") {
                        //console.log('save')

                        var toastMixin = Swal.mixin({
                            toast: true,
                            icon: 'success',
                            title: 'General Title',
                            animation: false,
                            //position: 'top-right',
                            position: 'center',
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                        });
                        toastMixin.fire({
                            animation: true,
                            title: 'Delete Successfully',
                        });
                        showStyleGrid();
                        clearFromData();


                    } else {
                        swal("Warning!", result);
                        //clearFromData();
                    };
                }
            });

        }
        function showStyleGrid(data) {

            //var empObj = {
               //var intDressid= data.intDressid,
         
            //};
            table = $('#datatableStyle').DataTable({
                "bDestroy": true,
                "select": true,
                //"gridlines": true,
                "ajax": {
                    //"url": "/DressEntry/mFillShowDressStyle",
                    "url": "/DressEntry/mFillShowDressStyle?intDressid=" + data.intDressid,
                    "type": "POST",
                    //"data": "JSON.stringify(empObj)",
                    "contentType": "application/json;charset=utf-8",
                    "datatype": "json",

                    "dataSrc": function (response) {
                        //alert(response.Expires);
                        detailsList = response;
                        response.draw = response.draw;
                        response.recordsTotal = response.recordsTotal;
                        response.recordsFiltered = response.recordsFiltered;
                        console.log('request.responseText', response);

                        return response;
                    }

                },

                //"order": [[1, 'Asc']],
                "columns": [


                      {
                          title: 'SL',
                          render: function (
                              data,
                              type,
                              row,
                              meta
                          ) {
                              return '<span>' + (meta.row + 1) + '</span>';
                          },
                      },
                      //{
                      //    title: 'স্ট্যাটাস',
                      //    "data": "inStatus", "autowidth": true,
                      //    "render": function (inStatus) {
                      //        if (inStatus == 1) {
                      //            return "না";
                      //        }
                      //        else {
                      //            return "হা";
                      //        }

                      //    }
                      //},
                       {
                           title: 'Key',
                           data: 'strStyleKey',
                           name: 'strStyleKey',
                           "visible": false,
                       },
                        {
                            title: 'DID',
                            data: 'intDressid',
                            name: 'intDressid',
                            "visible": false,

                        },
                        {
                            title: 'পোষাকের নাম',
                            data: 'strDressName',
                            name: 'strDressName',
                            "visible": false,
                        },
                           {
                               title: 'SID',
                               data: 'intStyleid',
                               name: 'intStyleid',
                               "visible": false,
                           },
                              {
                                  title: 'স্টাইল বা ডিজাইনের ক্যাটাগরির নাম',
                                  data: 'strStyleName',
                                  name: 'strStyleName',

                              },

                              //{
                              //    title: 'ছবি',
                              //    'data': 'strImage',
                              //    'sortable': false,
                              //    'searchable': false,
                              //    'render': function (data) {
                              //        if (!data) {
                              //            return 'N/A';
                              //        } else {
                              //            var img = 'data:image/png;base64,' + data;
                              //            return '<img src="' + img + '" height="50px" width="50px" />';
                              //        }
                              //    }
                              //},



                            {
                                title: 'ডিজাইন যুক্ত করুন',

                                render: function (data, type, row) {
                                    return '<button class="btn btn-info fontsize  stylek-sloat-ak"  data-toggle="modal" data-target="#styleadd">   <i class="fa fa-child"></i></button>';
                                }
                            },
                            {
                                title: 'ইডিট করুন',

                                render: function (data, type, row) {
                                    return '<button class="btn btn-info fontsize  style-sloat-ak">   <i class="fa fa-pencil"></i></button>';
                                }
                            },
                            {
                                title: 'ডিলিট করুন',
                                render: function (data, type, row) {
                                    return '<button class="btn btn-danger fontsize deletestyle-sloat-ak">   <i class="fa fa-trash"></i></button>';
                                }
                            },


                ],

                "responsive": true,
                "rowCallback": function (row, data) {
                    var rowdata = data;

                    $(row).find(".stylek-sloat-ak").click(function () {
                        selectdata = data;
                        console.log('hello edit dddeeeee', selectdata);
                        //saveorupdatebtntype =1;
                        editStyle(selectdata);

                    });

                    $(row).find(".style-sloat-ak").click(function () {
                        selectdata = data;
                        //console.log('hello edit dddeeeee', selectdata);
                        //saveorupdatebtntype =1;
                        editStyle(selectdata);

                    });
                    $(row).find(".deletestyle-sloat-ak").click(function () {
                        selectdata = data;
                        DeleteStyle(selectdata);

                    });
                    $(row).find(".print-sloat-ak").click(function () {
                        selectdata = data;
                        orderprint(selectdata.strVoucherNoMerz, selectdata.strMerzeName)

                    });

                }

            });

        }
        function editStyle(data) {
         

            $('#idstyleDHead').text(data.strStyleName + '-' + 'ডিজাইন যুক্ত করুন');
            
            $('#idDresid').text(data.intDressid);
            $('#idstyleDHead2').text(data.strStyleName);
            $('#btnsaveStyleD').val('আপডেট করুন ');
            //$('#txtOldbranchID').val(data.BranchID);
            $('#txtOldkeyID').val(data.strStyleKey);
            $("#txtStyleDetails").val(data.strStyleName);
            showStyleDetails();



            Createcard();


        }
        function Createcard()
        {
            for (var i = 0; i < length; i++) {



            }

        }
        function clearStyleData() {
            showStyleGrid();
        }
        function showStyleDetails(data) {

            //var empObj = {
            //var intDressid= data.intDressid,

            //};
            table = $('#datatableStyleDetails').DataTable({
                "bDestroy": true,
                "select": true,
                //"gridlines": true,
                "ajax": {
                    "url": "/DressEntry/mFillShowGrid",
                    //"url": "/DressEntry/mFillShowDressStyle?intDressid=" + data.intDressid,
                    "type": "POST",
                    //"data": "JSON.stringify(empObj)",
                    "contentType": "application/json;charset=utf-8",
                    "datatype": "json",

                    "dataSrc": function (response) {

                        detailsList = response;
                        response.draw = response.draw;
                        response.recordsTotal = response.recordsTotal;
                        response.recordsFiltered = response.recordsFiltered;
                        console.log('request.responseText', response);

                        return response;
                    }

                },

                "columns": [


                     {
                         title: 'SL',
                         render: function (
                             data,
                             type,
                             row,
                             meta
                         ) {
                             return '<span>' + (meta.row + 1) + '</span>';
                         },
                         "visible": false,
                     },
                     //{
                     //    title: 'স্ট্যাটাস',
                     //    "data": "inStatus", "autowidth": true,
                     //    "render": function (inStatus) {
                     //        if (inStatus == 1) {
                     //            return "না";
                     //        }
                     //        else {
                     //            return "হা";
                     //        }

                     //    }
                     //},
                      {
                          title: 'ID',
                          data: 'intDressid',
                          name: 'strDressName',
                          "visible": false,

                      },
                       {
                           title: 'পোষাকের নাম',
                           data: 'strDressName',
                           name: 'strDressName',

                       },

                             {
                                 title: 'ছবি',
                                 'data': 'strImage',
                                 'sortable': false,
                                 'searchable': false,
                                 'render': function (data) {
                                     if (!data) {
                                         return 'N/A';
                                     } else {
                                         var img = 'data:image/png;base64,' + data;
                                         return '<img src="' + img + '" height="50px" width="50px" />';
                                     }
                                 }
                             },

                                {
                                    title: 'ইডিট করুন',

                                    render: function (data, type, row) {
                                        return '<button class="btn btn-info fontsize  sales-sloat-ak"  data-toggle="modal" data-target="#BranchConfig">   <i class="fa fa-pencil"></i></button>';
                                    }
                                },
                                 {
                                     title: 'ডিলিট করুন',
                                     render: function (data, type, row) {
                                         return '<button class="btn btn-danger fontsize delete-sloat-ak">   <i class="fa fa-trash"></i></button>';
                                     }
                                 },


                ],

                "responsive": true,
                "rowCallback": function (row, data) {
                    var rowdata = data;

                    $(row).find(".stylek-sloat-ak").click(function () {
                        selectdata = data;
                        console.log('hello edit dddeeeee', selectdata);
                        //saveorupdatebtntype =1;
                        editStyle(selectdata);

                    });

                    $(row).find(".style-sloat-ak").click(function () {
                        selectdata = data;
                        //console.log('hello edit dddeeeee', selectdata);
                        //saveorupdatebtntype =1;
                        editStyle(selectdata);

                    });
                    $(row).find(".deletestyle-sloat-ak").click(function () {
                        selectdata = data;
                        DeleteStyle(selectdata);

                    });
                    $(row).find(".print-sloat-ak").click(function () {
                        selectdata = data;
                        orderprint(selectdata.strVoucherNoMerz, selectdata.strMerzeName)

                    });

                }

            });

        }
       
        //End Dress Style

        //Dress Style Details
        function StyleDetailssaveOrUpdates() {
            //if (checkReqFields() == false) {
            //    return;
            //}
            var btn = $('#btnSaveStyleDetails').val();
            if (btn == "সেভ করুন") {
                swal({
                    title: "Do You Want to Save?",
                    text: "",
                    icon: "warning",
                    buttons: [
                        'Yes',
                        'No'
                    ],
                    dangerMode: true,
                }).then(function (isConfirm) {
                    if (isConfirm) {
                    }
                    else {
                        saveStyleDetails();
                        clearFromData();
                        $('#txtbranchName').focus();
                    }

                });


            } else {


                swal({
                    title: "Do You Want to Update?",
                    text: "",
                    icon: "warning",
                    buttons: [
                        'Yes',
                        'No'
                    ],
                    dangerMode: true,
                }).then(function (isConfirm) {
                    if (isConfirm) {

                    }
                    else {

                        UpdateStyleDetails(mstrPrimaryFields);
                        clearFromData();
                        $('#btncen').click();

                    }

                });
            }

        }
        function toTitleCase(str) {
            return str.replace(
              /\w\S*/g,
              function (txt) {
                  return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
              }
            );
        }
        function saveStyleDetails() {
            var fd = new FormData();
            var files = $('input[type="file"]')[1].files;
            for (var i = 0; i < 2; i++) {
                fd.append("Picture", files[i]);
            }
            fd.append("strStyleDetailsName", $('#txtStyleDetailsName').val());
            fd.append("strStyleName", $('#idstyleDHead2').text());
            console.log(fd);

            $.ajax({
                url: "/DressEntry/DressStyleDetailsInsert",
                processData: false,
                contentType: false,
                type: "POST",
                datatype: "json",
                data: fd,
                success: function (result) {

                    if (result == "save") {
                        //console.log('save')

                        var toastMixin = Swal.mixin({
                            toast: true,
                            icon: 'success',
                            title: 'General Title',
                            animation: false,
                            //position: 'top-right',
                            position: 'center',
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                        });
                        toastMixin.fire({
                            animation: true,
                            title: 'Save Successfully',
                        });
                        showGrid();
                        clearFromData();


                    } else {
                        swal("Warning!", result);
                        //clearFromData();
                    };
                }
            });

        }
        function UpdateStyleDetails(id) {
            var fd = new FormData();
            var files = $('input[type="file"]')[0].files;
            for (var i = 0; i < files.length; i++) {
                fd.append("Picture", files[i]);
            }
            fd.append("strPorichalokID", id);
            fd.append("strPorichalokName", $('#txtporichalokname').val());
            fd.append("strPorichalokFathersName", $('#txtporichalokfather').val());
            fd.append("strPorichalokGendar", $('#txtporichalokGendar').val());
            fd.append("strPosition", $('#txtporichalokposition').val());
            fd.append("strPorichalokCity", $('#txtporichalokCity').val());
            fd.append("strPorichalokPostalCode", $('#txtpostcode').val());
            fd.append("strPorichalokMobile", $('#txtmobile').val());
            fd.append("strPorichalokEmail", $('#txtemail').val());
            fd.append("strPorichalokAddress", $('#txtaddress').val());
            fd.append("strPorichalokFacebook", $('#txtFacebook').val());
            fd.append("strPorichalokDateOfBorth", $('#fromDateMD').val());
            console.log(fd);

            $.ajax({
                url: "/DirectorInformation/mPorichalokUpdate",
                processData: false,
                contentType: false,
                type: "POST",
                datatype: "json",
                data: fd,
                success: function (result) {

                    if (result == "save") {
                        //console.log('save')

                        var toastMixin = Swal.mixin({
                            toast: true,
                            icon: 'success',
                            title: 'General Title',
                            animation: false,
                            //position: 'top-right',
                            position: 'center',
                            showConfirmButton: false,
                            timer: 2000,
                            timerProgressBar: true,
                        });
                        toastMixin.fire({
                            animation: true,
                            title: 'Save Successfully',
                        });
                        showGrid();
                        clearFromData();


                    } else {
                        swal("Warning!", result);
                        //clearFromData();
                    };
                }
            });
        }
        function Edit() {

            var empObj = {
                //strPorichalokID: (selectdata.intBUTTON_ID),
                strPorichalokID: "",
            };
            $.ajax({
                url: "/DirectorInformation/mFillEdit",
                type: "POST",
                data: JSON.stringify(empObj),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {
                    console.log('data', data.strPorichalokGendar)
                    if (data.Data != "") {

                        $('#pname').text(data.strPorichalokName);
                        $('#pposition').text(data.strPosition);
                        $('#pfatherName').text(data.strPorichalokFathersName);
                        $('#pMobile').text(data.strPorichalokMobile);
                        $('#pEmail').text(data.strPorichalokEmail);
                        $('#pAddress').text(data.strPorichalokAddress);
                        var picString = data.Data;
                        var image = new Image();
                        var src = "data:image/jpeg;base64," + picString;
                        document.getElementById('pid').src = src;
                    }
                    else {
                        var logo = document.getElementById('sologo');
                        logo.src = 'https://t4.ftcdn.net/jpg/00/89/55/15/240_F_89551596_LdHAZRwz3i4EM4J0NHNHy2hEUYDfXc0j.jpg';
                    }

                }
            });

        }
        function showdata() {


            var empObj = {
                //strPorichalokID: (selectdata.intBUTTON_ID),
                strPorichalokID: "",
            };
            $.ajax({
                url: "/DirectorInformation/mFillEdit",
                type: "POST",
                data: JSON.stringify(empObj),
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (data) {

                    if (data.strPorichalokName != null) {
                        console.log("kibria", Date);
                        $('#txtporichalokname').val(data.strPorichalokName);
                        $('#txtporichalokfather').val(data.strPorichalokFathersName);
                        if (data.strPorichalokGendar == "1") {
                            $('#txtporichalokGendar').val('1');
                        }
                        else {
                            $('#txtporichalokGendar').val('2');
                        }
                        $('#txtporichalokposition').val(data.strPosition);
                        $('#txtaddress').val(data.strPorichalokAddress);
                        $('#txtporichalokCity').val(data.strPorichalokFathersName);
                        $('#txtpostcode').val(data.strPorichalokFathersName);
                        $('#txtmobile').val(data.strPorichalokMobile);
                        $('#txtFacebook').val(data.strPorichalokFathersName);
                        $('#txtemail').val(data.strPorichalokFathersName);
                        strSelectdate = data.strPorichalokDateOfBorth;
                        if (strSelectdate != "") {
                            setInputDateEdit();
                            var picString = data.Data;
                            var image = new Image();
                            var src = "data:image/jpeg;base64," + picString;
                            document.getElementById('productImage').src = src;
                        }

                        $('#btnsaveOrder').val('Update');
                    }
                    else {
                        //var logo = document.getElementById('sologo');
                        //logo.src = 'https://t4.ftcdn.net/jpg/00/89/55/15/240_F_89551596_LdHAZRwz3i4EM4J0NHNHy2hEUYDfXc0j.jpg';
                    }

                }
            });



            $('#txtporichalokname').val($('#pname').val());
        }
        //End Dress Style Details

    </script>
}




