@{
    ViewBag.Title = "AccGroup";
}
<style type="text/css">
    .reqError {
        color: #ff0000; /*Red Color*/
        font-weight: bold;
    }
</style>
@* ***************Header *@
<div class="container-fluid">
    <div class="panel panel-danger">
        <h4 class="panel-heading" style="text-align: center; text-decoration: underline;background-color:#ffffff">Branch Condiguration List</h4>
    </div>

</div>
@* ***************End Header *@
@* ***************End Header *@
<div class="table-responsive">
    <table id="datatable4" class="table-bordered display" style="width:100%"></table>
</div>

<div class="modal fade bd-example-modal-lg" id="BranchConfig" tabindex="2" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="left: 0%" role="document">
        <div class="modal-content">

            <div class="modal-header my_modal-header" style="background:  #194771; color: white;">
                <h5 style="text-align: center; text-decoration: underline;">Branch Configuration</h5>


                <button type="button" id="btnCancel"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span>&times;</span>
                </button>

            </div>
            <div class="modal-body">

                @*@Html.Partial("SalesOrderNew", Model.Count == 0 ? new Jagoron.Web.Models.SalesOrder() : Model.FirstOrDefault())*@
                <div class="row">

                    <input type="hidden" class="form-control" name="brandName" id="txtOldbranchID" form="usrform">
                    <div class="col-sm-6">
                        <div style="margin-left: 10px;">
                            <label>Branch Name:</label><span id="reqBranchName" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtbranchName" form="usrform" style="text-transform:capitalize" onkeyup="ChangeLocation(); ValidationClear();">
                        </div>
                        <div style="margin-left: 10px;">
                            <label>Address1:</label><span id="reqAddress1" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtAddress1" form="usrform" style="text-transform:capitalize">
                        </div>
                        <div style="margin-left: 10px;">
                            <label>Address2:</label><span id="reqAddress2" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtAddress2" form="usrform" style="text-transform:capitalize">
                        </div>
                        <div style="margin-left: 10px;">
                            <label>Country:</label><span id="reqCountry" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtCountry" form="usrform" value="Bangladesh" style="text-transform:capitalize">
                        </div>
                        <div style="margin-left: 10px;">
                            <label>Telephone:</label><span id="reqTelephone" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="Telephone" id="txtTelephone" form="usrform" style="text-transform:capitalize">
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div style="margin-left: 10px;">
                            <label>Fax:</label><span id="reqFax" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtFax" form="usrform" style="text-transform:capitalize">
                        </div>
                        <div style="margin-left: 10px;">
                            <label>Location:</label><span id="reqlocation" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtlocation" form="usrform" readonly="readonly" style="text-transform:capitalize">
                        </div>


                        <div class="col-sm-12">
                            <div style="margin-left: 10px;">
                                <label>Default Branch:</label><span id="reqDefaultBranch" class="reqError"></span><br />
                            </div>
                            <select id="cbodefaultBrach" class="form-control">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>

                        </div>
                        <div class="col-sm-12">
                            <label id="Inactive">Inactive:</label>
                            <select id="cboInactive" class="form-control">
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>

                        </div>
                        <div style="margin-left: 10px;">
                            <label>Comments:</label><span id="reqCommenst" class="reqError"></span><br />
                        </div>
                        <div class="col-sm-12">
                            <input class="form-control" name="brandName" id="txtComments" form="usrform" style="text-transform:capitalize">
                        </div>
                    </div>

                </div>

                <div class="modal-footer border-0">
                    <span><input type="button" class="btn btn-primary" id="btnsaveOrder" onclick="saveOrUpdates();" value="Save"></></span>
                    <span><input type="button" class="btn btn-danger" id="btncen" data-dismiss="modal" value="Cancel" onclick="clearFromData();"></></span>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script>

        function showimagepreview(input) {
            if (input.files && input.files[0]) {
                var a = (input.files[0].size);
                if (a > 200000) {
                    alert('Photo too large. Maximum allowed size is 200 KB');
                }
                else {
                    //$('#WarningMsg').val('');
                    var filerdr = new FileReader();
                    filerdr.onload = function (e) {
                        $('#productImage').attr('src', e.target.result);
                    }
                    filerdr.readAsDataURL(input.files[0]);
                }
            }
        };

        var selectdataId = 0;
        var mstrPrimaryFields = 0;

        var BranchID = "";
        var BranchName = "";
        $(document).ready(function () {
  
            showGrid();
        
        })
        function ValidationClear() {
            var name = $('#txtbranchName').val();
            if (name.trim() != "") {
                document.getElementById("reqBranchName").innerHTML = "";

            }

        }
        function ChangeLocation() {
            var x = $('#txtbranchName').val() + ' Depot';
            $('#txtlocation').val(x)

        }

        function checkVariable(variable) {

            if (variable == null) {
                return "1";
            }
            else {
                return "2";
            }
        }

        function toTitleCase(str) {
            return str.replace(
              /\w\S*/g,
              function (txt) {
                  return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
              }
            );
        }
      
        function showGrid() {

            table = $('#datatable4').DataTable({
                "bDestroy": true,
                "select": true,
                //"gridlines": true,
                "ajax": {
                    "url": "/DaynamicallyTextBoxCreate/OrderList",
                    "type": "POST",
                    "datatype": "json",

                    "dataSrc": function (response) {

                        detailsList = response;
                        response.draw = response.draw;
                        response.recordsTotal = response.recordsTotal;
                        response.recordsFiltered = response.recordsFiltered;
                        //console.log('request.responseText', response);

                        return response;
                    }

                },

                //"order": [[1, 'Asc']],
                "columns": [


                      {
                          title: 'SL',
                          render: function (
                              data,
                              type,
                              row,
                              meta
                          ) {
                              return '<span>' + (meta.row + 1) + '</span>';
                          },
                      },


                        {
                            title: 'SL',
                            data: 'intSerialNo',
                            name: 'Branch ID',
                            visible: false,
                        },

                          {
                              title: 'Order No',
                              data: 'strOrderNo',
                              name: 'Address1',
                          },
                           {
                               title: 'Customer Code',
                               data: 'intCustomer',
                               name: 'Address2',
                           },
                            {
                                title: 'Order Value',
                                data: 'dblOrderValue',
                                name: 'Country',
                            },
                            {
                                title: 'Order Date',
                                data: 'strOrderDate',
                                name: 'Godown',
                            },

                                 {
                                     title: 'Edit',

                                     render: function (data, type, row) {
                                         return '<button class="btn btn-info fontsize  sales-sloat-ak"  data-toggle="modal" data-target="#BranchConfig">   <i class="fa fa-pencil"></i></button>';
                                     }
                                 },
                                  {
                                      title: 'Delete',
                                      render: function (data, type, row) {
                                          return '<button class="btn btn-danger fontsize delete-sloat-ak">   <i class="fa fa-trash"></i></button>';
                                      }
                                  },


                ],

                "responsive": true,
                "rowCallback": function (row, data) {
                    var rowdata = data;

                    $(row).find(".sales-sloat-ak").click(function () {
                        selectdata = data;
                        //console.log('hello edit dddeeeee', selectdata);
                        //saveorupdatebtntype =1;
                        edit(selectdata);

                    });
                    $(row).find(".delete-sloat-ak").click(function () {
                        selectdata = data;
                        deleteBranch(selectdata);

                    });
                    $(row).find(".print-sloat-ak").click(function () {
                        selectdata = data;
                        orderprint(selectdata.strVoucherNoMerz, selectdata.strMerzeName)

                    });

                }

            });

        }
        function edit(data) {
            //empObj = {
            //    strorderNo: 1,
            //    strCustomerId: $('#txtCustomerCode').val(), //CustomerID
            //    intQty: intQty,
            //    dblVal: dblTotalVal,
            //    detailsList: DressList

            //}

            window.location = '@Url.Action("DaynamicallyTextBoxCreateViewEdit")?intval=1';

            //"url": "/SalesOrder/mShowMasterData?strUserName=" + strUserName + " &intStatusCol=" + rbtnStatus,
            //window.location = '@Url.Action("DaynamicallyTextBoxCreateViewEdit")' + $(this).val();
            //$('#txtOldbranchID').val(data.BranchID);
            //$('#txtbranchName').val(data.BranchName);
            //$("#txtCountry").val(data.Country);
            //$('#txtTelephone').val(data.Phone);
            //$('#txtlocation').val(data.Godown);
            //$("#txtFax").val(data.Fax);
            //$('#cboInactive').val(data.Status);
            //$('#cbodefaultBrach').val(data.DefaultBranch);
            //$('#txtComments').val(data.Comments);
       
            //var url = "http://localhost:12836/DaynamicallyTextBoxCreate/DaynamicallyTextBoxCreateView";
            //window.open(url);
            //window.location.href('https://google.com');
            //var url = "http://localhost:12836/DaynamicallyTextBoxCreate/DaynamicallyTextBoxCreateView";
            //window.location(url);
            //$.ajax({
            //    type: "POST",
            //    url: "/DaynamicallyTextBoxCreate/DaynamicallyTextBoxCreateViewEdit",
            //    success: function (data) {
            //        var url = "http://www.(url).com";
            //        window.location(url);
            //    },
            //    error: function (XMLHttpRequest, textStatus, errorThrown) {
            //        debugger;
            //    }
            //});
        }

        function deleteBranch(selectdata) {

            var empObj = {
                BranchID: (selectdata.BranchID),
                BranchName: (selectdata.BranchName),
            };
            //console.log('hello ', empObj);
            swal({
                title: "Do You Want to Delete?",
                text: "",
                icon: "warning",
                buttons: [
                    'Yes',
                    'No'
                ],
                dangerMode: true,
            }).then(function (isConfirm) {

                if (isConfirm) {
                }
                else {
                    $.ajax({
                        url: "/BranchConfig/DeleteBranchInfo",
                        type: "POST",
                        data: JSON.stringify(empObj),
                        contentType: "application/json;charset=utf-8",
                        dataType: "json",
                        success: function (result) {

                            if (result == "OK") {
                                showGrid();
                                swal("Delete!", "Delete success.", "success");
                            }
                            else {
                                swal("Warning!", result);
                            };


                        }
                    });
                }

            });



        }

        function checkReqFields() {
            var returnValue;

            var name = document.getElementById("txtbranchName").value;
            returnValue = true;
            if (name.trim() == "") {
                document.getElementById("reqBranchName").innerHTML = " * Name is required.";
                returnValue = false;
            }
            return returnValue;
        }

        function refreshformdata() {
            showGrid();
        }
        function clearFromData() {

            $('#btnsaveOrder').val('Save');
            selectdataId = 0;

            $('#txtGroupName').val('')
            $("#cboUnder").prop("selectedIndex", '0').val();
            $("#cboNature").prop("selectedIndex", '0').val();
            $("#cbocashflow").prop("selectedIndex", '0').val();

            document.getElementById("reqBranchName").innerHTML = "";
            $('#txtOldbranchID').val('');
            $('#txtbranchName').val('');
            $("#txtAddress1").val('');
            $('#txtAddress2').val('');
            $("#txtCountry").val('Bangladesh');
            $('#txtTelephone').val('');
            $("#txtFax").val('');
            $('#txtlocation').val('');
            $("#cbodefaultBrach").prop("selectedIndex", '0').val();
            $("#cboInactive").prop("selectedIndex", '0').val();
            $('#txtComments').val('');

        }

    </script>
}


